<%- include('partials/header') %>
<div class="container pt-4 content-type">
    <div class="row">

        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card mb-3">
                <img src="https://64.media.tumblr.com/02a96cbbc8066e0f44de6c7f53ed2612/tumblr_mpmgbr6hS61s5e5bko1_500.gifv" alt="...">
                <div class="card-body  card-style">
                    <h5 class="card-title title-style">History of GIFs</h5>
                    <p class="card-text">CompuServe introduced GIF on 15 June 1987 to provide a color image format for their file downloading areas. This replaced their earlier run-length encoding format, which was black and white only. GIF became popular because it used Lempel–Ziv–Welch data compression.This is how everything started</p>

                </div>
            </div>

        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card mb-3 ">
                <img src="https://media2.giphy.com/media/hgsLZaRew0Vzy/giphy.gif"alt="...">
                <div class="card-body card-style">
                    <h5 class="card-title title-style">GIPHY is the platform that animates your world.</h5>
                    <p class="card-text">GIPHY is everywhere your conversations are happening. From iMessage, to Facebook, Instagram, Snapchat, TikTok… and everywhere in-between.We are the platform where you can find the content you are passionate about — whether it be reaction GIFs for your convos.</p>

                </div>
            </div>

        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card mb-3">
                <img src="https://media1.popsugar-assets.com/files/thumbor/ytendhynMWqv9bVRHCeg5sUQZUQ/fit-in/500x500/filters:format_auto-!!-:strip_icc-!!-/2015/08/05/824/n/1922564/55cb6f50_edit_img_image_845315_1311711164/i/Alexa-Chung.png" alt="...">
                <div class="card-body card-style">
                    <h5 class="card-title title-style">History of Giphy</h5>
                    <p class="card-text">Giphy was founded by Alex Chung and Jace Cooke in February 2013. The idea for the business came when the pair was having breakfast, musing on the rising trend of purely visual communication. When Chung and Cooke first launched Giphy, the website functioned solely as a search engine for GIFs</p>
                </div>
            </div>

        </div>

</div>
    </div>

<div>
    <h3 class="map mb-2 mx-2" style="color: white">Our Location</h3>
    <div class="container location">
        <div class="row">
            <div class="col-sm-8">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d386668.11597816553!2d-74.25485992606923!3d40.78742919482123!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2596a36aaf333%3A0x1493d3ccb0226b60!2sGiphy%20%2CInc!5e0!3m2!1sen!2smk!4v1654339606251!5m2!1sen!2smk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>

        </div>
        <div class="col-sm-4 nextMap mt-3">
            <p class="contact"> <b>Located in:</b>New York,United States</p>
            <br>
            <p class="contact"> <b>Address:</b> 416 W 13th St, New York, NY 10014, United States</p>
            <br>
            <p class="contact"><b>Phone:</b> + 034 3027 4437</p>

        </div>

    </div>
</div>

<%- include('partials/footer') %>
